
body {
    background-image: url("https://images.unsplash.com/photo-1511933801659-156d99ebea3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    width: 100%;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }

#header {
    width: 100%;
    height: 100px;
    margin: 10px 10px;
    background-color: tomato;
    padding-left: 10px;
    max-width: 800px;
}

.name {
    font-size: 30px;
    float: left;
    padding: 15px 30px;
    height: 100%;
    width: 15%;
    display: block;
}

.contact-right {
    padding: 15px 40px;
    margin: 5px 30px;
    max-width: 50%;
    float: left;
    height: 100%;
    width: 85%;
    display: block;
}

#tiedot {
    background-color: yellow;
    align-content: center;
    margin: 25px 25px;
    display: block;
    align-content: center;
    padding: 20px auto;
}

#profile {
    max-width: 100%;
    height: 115px;
    background-color: springgreen;
}

.profile-photo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
    margin: 10px 10px;
}

.about-me {
    margin: 10px 10px;
    padding-top: 5px;
    max-width: 500px;
    float: left;
}

.social {
    width: auto;
    height: 200px;
    background-color: rgb(76, 0, 255);
    margin: 40px 10px;
    text-align: center;
    align-content: center;
    padding-left: 15px;
}

.contact-photo {
    width: 150px;
    height: 150px;
    display: block;
    padding: auto;
    margin: 25px auto;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    padding: 20px auto;

  }

  .gallery {
    position: relative;
    width: 180px;
  }
  
  .git-photo {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 8%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
  }
  
  .gallery:hover .overlay {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 100px;
    border-radius: 8%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
  }

a {
    color: black;
}

#footer {
    height: 10%;
    background-color: turquoise;
    display: flex;
    position: relative;
    margin: 10px 10px;
    max-width: 800px;
}